.git
.gitignore
.idea
**/__pycache__
**/.pytest_cache
**/.venv
**/.mypy_cache
**/*.egg-info

flutter/
scripts/
docs/
*.md

backend/.env
backend/plantdoc.db
backend/uploads/*
backend/.venv

flutter/.env
