APP_NAME=PlantDoc API
DEBUG=true
API_V1_PREFIX=/api/v1


# Supabase Config (NEW)
SUPABASE_URL=https://sknfdpemejljuybsyavn.supabase.co/rest/v1/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNrbmZkcGVtZWpsanV5YnN5YXZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxOTU2OTMsImV4cCI6MjA5NTc3MTY5M30.GjU85Kuzv06uqYl-KF4WK1gmLhvbiBvuzT-Pv7w3KQk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNrbmZkcGVtZWpsanV5YnN5YXZuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDE5NTY5MywiZXhwIjoyMDk1NzcxNjkzfQ.8KhRP6HmP55LXPdrXkisFavjewwBLhDFNBhA-s0QJ_8


SECRET_KEY=01166dd9b2ec02767952da7e4fbeb4ffa5296337a0499115449ec0345890b690
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

CORS_ORIGINS=["*"]

MODEL_PATH=../model/plant_best_model.keras
CLASS_NAMES_PATH=../Resources/class_names.json
UPLOAD_DIR=./uploads
MAX_UPLOAD_SIZE_MB=10

MODEL_INPUT_SIZE=224
